<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Search results</ion-title>
  </ion-toolbar>
</ion-header>

<div class="spacer"></div>

<ion-content>
  <!-- Loader -->
  <div *ngIf="loading" class="text-center">
    <div class="fun-fact-overlay">
      <div class="fun-fact-content">
        <div class="fun-fact">
          <header>Did you know?</header>
          {{ funFact }}
        </div>
        <ion-spinner name="crescent"></ion-spinner>
      </div>
    </div>
  </div>

  <!-- No results found -->
  <div *ngIf="!loading && substances.length === 0" class="alert-box">
    <span>We were not able to find any results.</span><br>
    <span *ngIf="searchType === SEARCH_TYPES.OCR">Please try using a clearer image.</span>
    <span *ngIf="searchType === SEARCH_TYPES.STRING">Please try using a different substance.</span>
  </div>

  <!-- Results found -->
  <div *ngIf="!loading && substances.length > 0">
    <substance-details
      *ngFor="let substance of substances; "
      [substance]="substance"
    ></substance-details>
  </div>
</ion-content>
