@import './variables.scss';

body {
  line-height: 1.5em;
}

.text-center {
  text-align: center;
}

.alert-box {
  width: 90%;
  margin: 10px auto;
  padding: 20px;
  background-color: #ffecec;
  color: #555;
  border-radius: 4px;
}
