.text-center {
  text-align: center;
}

ion-header {
  margin-bottom: 15px;
}

.alert-box {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffecec;
  color: #555;
  border-radius: 4px;
}
