@import '../variables.scss';

@font-face {
  font-family: 'Shadows Into Light';
  font-style: 'cursive';
  src: url('../../assets/fonts/ShadowsIntoLight.ttf');
}

.home-page {
  --ion-background-color: #e85a5a;
  --ion-text-color: #fff;
}

.full-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  .logo-text {
    font-family: 'Shadows Into Light', cursive;
    font-size: 4em;
    line-height: 2em;
  }

  .camera-icon-button {
    display: flex;
    width: auto;
    align-items: center;
    padding: 20px 25px;
    border: 1px solid $white;
    border-radius: 30px;

    > .camera-icon-content {
      display: flex;
      flex-direction: column;
      align-items: center;

      ion-icon {
        font-size: 60px;
      }
    }

    .button-label {
      font-weight: bold;
    }
  }

  .spacer {
    margin-top: 20px;
  }

  .or-text {
    font-family: 'Shadows Into Light', cursive;
    font-size: 2em;
  }

  .input-container {
    width: 80%;
    margin: 0 auto;

    ion-input {
      border: 1px solid $white;
      border-radius: 8px;
      --padding-start: 5px;
      --padding-end: 5px;
    }

    ion-icon {
      font-size: 1.3em;
      margin-left: 10px;
    }
  }
}
